:root {
	/* Break Screen */

	/* 
	Theme Colors:
	#4d1558
	#701e80
	#bd2dd4
	#d47ee2
	#b5731f
	#daa34e
	#ffd37d
	#ffffff
	*/

	--bg-color: #4d1558;

	--break-main-text: #bd2dd4;
	--break-main-outline: #ffffff;

	--break-socials-text: #daa34e;
	--break-socials-outline: #ffffff;

	/* Intermission & Omnibar */

	--feed-large-color: #eae6f3;
	--feed-large-border: #daa34e;

	--feed-small-color: #eae6f3;
	--feed-small-border: #bd2dd4;

	--omnibar-color: #b5731f;
	--omnibar-text: #ffffff;
	--omnibar-divider: #ffd37d;

	--teams-border: #bd2dd4;
	--teams-text: #ffffff;
	--teams-inner: #4d1558;
	--teams-score-text: #eae6f3;
	--teams-score-inner: #701e80;

	/* Commentary */ 

	--commentary-text: #a72456;
	--commentary-tag: #a72456;
	--commentary-pronouns: #eae6f3;

	/*--commentary-pronouns-outline: #000000;*/

	/* Game */
	--game-title-text: #eae6f3;
	--game-title-bg: #701e80;

	--game-main-text: #daa34e;
	--game-main-bg: #eae6f3;

	--game-sub-text: #eae6f3;
	--game-sub-bg: #701e80;

	--game-border: #bd2dd4;

	/* Credits */

	--credits-text: #ffffff;
	--credits-bg: #000000;
}

@font-face {
	font-family: 'Gill Sans';
	src: url('../../fonts/Gill_Sans_MT.TTF');
}

@font-face {
	font-family: 'Rockwell Bold';
	src: url('../../fonts/Rockwell_Bold.TTF');
}

body {
  font-family: 'Rockwell Bold';
  margin: 0;
}

.monospace {
  font-family: monospace;
}

* { box-sizing: border-box; }